.container {
    max-width: 600px;
    margin: 20px auto;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 5px;
}

h3 {
    margin: 10px 0;
}

input {
    padding: 8px;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}